<!doctype html>
<html ⚡>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="description" content="This is the AMP Boilerplate.">
    <link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <!-- Import other AMP Extensions here -->
    <script async custom-element="amp-font" src="https://cdn.ampproject.org/v0/amp-font-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async custom-element="amp-facebook" src="https://cdn.ampproject.org/v0/amp-facebook-0.1.js"></script>
    {{ Blocks |> render('head-scripts') }}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <style amp-custom>
    /* Add your styles here */
    ul.footer-menu{
      list-style-type: none;
      margin: 0;
      justify-content: center;
      display: flex;
    }
    ul.footer-menu li {
      float: left;
      margin: 0.5em;
    }
    </style>
    {{ "styles" |> partial }}
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <link rel="canonical" href=".">
    <title>{{ Title }}</title>
  </head>
  <body>
    {{ Blocks |> render('body-init') }}
    <div class="full-top full-bottom">
      {{'facebook-bg' |> to => altbg}}
      {{'color-white' |> to => altcolor}}
    {{ page }}
    </div>

    <div class="footer">
      <div class="decoration decoration-margins"></div>
      <a href="#" class="footer-logo"></a>
      <p class="boxed-text center-text">
        We aim to simplify your life by creating a beautiful and simple product that's feature rich and easy to use!
      </p>
      <div class="decoration decoration-margins"></div>
      <div class="footer-socials">
        <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
        <a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
        <a href="#" class="phone-bg"><i class="fa fa-phone"></i></a>
        <a href="#" class="mail-bg"><i class="fa fa-envelope"></i></a>
        <a href="#" class="bg-magenta-dark"><i class="fa fa-angle-up"></i></a>
        <div class="clear"></div>
      </div>
      <div class="decoration decoration-margins"></div>
      {{Store.Menus |> first => it.name == 'footer' |> to => footerMenu}}
      {{#if footerMenu}}
      <p class="center-text">{{#ul {each:footerMenu.Items, class:'footer-menu'} }}<li><a href="{{it.Link}}">{{it.Title}}</a></li>{{/ul}}</p>
      <div class="decoration decoration-margins"></div>
      {{/if}}
      <p class="center-text">{{ Store.Impressum }}</p>
    </div>
    {{ Blocks |> render('tail-scripts') }}
  </body>
</html>