<div class="content half-bottom">
    <h1 class="news-post-title">{{ Headline }}</h1>
    {{#truthy SubHeadline}}
    <em class="news-post-info half-bottom">{{ SubHeadline }}</em>
    {{/truthy}}
</div>