<div class="content half-bottom">
    <h4>{{ Title }}</h4>
{{#ol {each:Items, class:'icon-list'} }}
  <li><i class="fa fa-{{ it.Icon.Value }}"></i><b>{{it.Feature |> raw}}</b> {{ it.Benefit }}</li>
{{/ol}}
</div>
