<div class="heading-block half-bottom facebook-bg">
    <h4 class="center-text">{{ Title }}</h4>
    <p class="center-text">{{ Body }}</p>
    <a href="#" class="button bg-orange-light">{{ CallToAction }}</a>
    <div class="overlay"></div>
</div>