<amp-user-notification layout=nodisplay class="user-notification" id="amp-user-notification1">
{{#truthy Title}}
    <b>{{ Title }}</b><br/>
{{/truthy}}
    {{ Body }}
  <button on="tap:amp-user-notification1.dismiss"><i class="fa fa-check"></i></button>
</amp-user-notification>