{{#once 'amp-analytics'}}
<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
{{/once}}
<amp-analytics type="keen" id="keen1">
    <script type="application/json">
    {
      "vars": {
        "projectId": "{{ ProjectId }}",
        "writeKey": "{{ writeKey }}"
      },
      "requests": {
        "pageview": "https://api.keen.io/3.0/projects/${projectId}/events/pageviews?api_key=${writeKey}"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      },
      "transport": {
        "beacon": true,
        "xhrpost": true,
        "img": false,
        "useBody": true
      }
    }
    </script>
</amp-analytics>