{{#once 'amp-analytics'}}
<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
{{/once}}
<amp-analytics type="gtag" data-credentials="include">
<script type="application/json">
{
  "vars" : {
    "gtag_id": "{{ Tag }}",
    "config" : {
      "{{ Tag }}": { "groups": "default" }
    }
  }
}
</script>
</amp-analytics>