{{#once 'amp-analytics'}}
<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
{{/once}}
<amp-analytics type="facebookpixel" id="facebook-pixel">
    <script type="application/json">
    {
      "vars": {
        "pixelId": "{{ PixelId }}"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      }
    }
    </script>
</amp-analytics>